
.label-container {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.button-selection-container {

}

.button-selection {

}

.icon-button-container {

}

.textfield-container {

}

.seperator-container{

}