
/*.btn-header {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-color: lightgrey;
    -fx-border-radius: 3px;
    -fx-border-color: rgb(53,53, 53);
}*/

/*.hbox-header {
    -fx-spacing: 100;
}*/

.hbox-hbox-header {
    -fx-spacing: 5;
}

.hbox-einzelerstellung {
    -fx-spacing: 15;
}